<div class="city-selection-class">
  <mat-form-field>
    <mat-select
      [formControl]="selectCityForm"
      (selectionChange)="selectCity($event)"
      [ngClass]="selected"
      placeholder="Select a city"
      required
    >
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{ city.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group
    class="select-temp-type-radio-group"
  >
    <mat-radio-button
      class="select-temp-type-radio-btn"
      *ngFor="let degree of degrees"
      [checked]="degree.checked"
      (change)="selectedTemperature($event)"
      [value]="degree.value"
    >
      {{ degree.value }}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div id="divWeatherMain" *ngIf="weatherData">
  <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-3x fa-sun sun"></i>
  </div>
  <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-3x fa-moon moon"></i>
  </div>
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 32px; margin-top: 5px">
    {{ weatherData.temp_celcius }}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px">
    {{ weatherData.temp_min }}° / {{ weatherData.temp_max }}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px">
    Feels Like: {{ weatherData.temp_feels_like }}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px">
    {{ weatherData.name }}
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px">
    Humidity: {{ weatherData.main.humidity }}%
  </div>
</div>
